<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" type="text" width="15" autocomplete="off" />
  </form>
</div></div>

<br />
<p id="results"> </p>

<script>
var correct_count = 0;
var target_count = {{ session.target_count }};
var jumble = "{{ session.jumble }}";
var correct_list = [ ] ;

// Some browsers will interpret 'enter' key as form
// submission.  Suppress that.
//
$("#entry").submit( function(event) {
   // console.log("Suppressing form submission");
   event.preventDefault();
  });

// On each keystroke, ask the server whether the current 
// field content is a vocabulary word that can be formed
// from the jumble.  (We use 'keyup' because the form value
// is updated before that event is generated.  keypress doesn't work.)
//
$("#attempt").keyup(function() {
   var txt = $("#attempt").val();
   // We can only find a given word once
   if (correct_list.indexOf(txt) >= 0) {
       return;
   }
   // At least we haven't seen this ... is it in the wordlist
   // and buildable with the jumble letters? 
   $.getJSON( "/_check", { text: txt, jumble: jumble }, 
              function(data) {
                rsval = data.result.matched;
                console.log("rsval: " + rsval)
                if (rsval) {
                   $("#results").append(txt + " ");
                   correct_list.push(txt);
                   correct_count += 1;
                   $("#attempt").val("");
                   if (correct_count >= target_count) {
                      window.location.replace("success");
                   }
               }
             }
           );
   });

</script>

 </div> <!-- container -->
</body> </html>
